.navbar{
	width: 100%;
	height: 40px;
	background-color: #47595F;
}
.inner{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.mnav{
	list-style: none;
}
.mnav-item{
	float: left;
	text-align: center;
	line-height: 40px;
}
.mnav-item > a{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	padding: 0 10px;
}
.mnav .mnav-item:hover > a{
	background-color:#fff;
	color: #000;
}
.mnav-item .active{
	background-color: #50b400;
}
.snav{
	display: none;
	position: absolute;
	width: 120px;
	line-height: 30px;
	font-size: 14px;
	background-color: #fff;
}
.mnav-item:hover .snav{
	display: block;
}
.snav-item{
	text-align: left;
	padding: 0 5px;
}
.icon-trgl{
	display: inline-block;
	width: 11px;
	height: 6px;
	margin-left: 5px;
	vertical-align: middle;
	background-image: url(../img/sprite.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.mnav-item:hover > a .icon-trgl{
	background-position: 0 -6px;
}
/*.mnav .mnav-item > a.hover{
	background-color:#fff;
	color: #000;
}
.mnav-item > a.hover .icon-trgl{
	background-position: 0 -6px;
}*/