.wrap{
	width: 958px;
	height: 340px;
	border: 1px solid #ddd;
	background-color: #fff;
	margin:0 auto;
	padding: 0 20px 20px 20px;
}
.wrap .head{
	line-height: 60px;
	margin-bottom:20px;
	border-bottom: 1px solid #ddd;
}
.head .btn-download{
	float: right;
	width: 120px;
	height: 36px;
	line-height: 36px;
	margin-top: 12px;
	text-align: center;
	background-color: #f60;
	font-family: "Microsoft Yahei";
	font-size: 16px;
	color: #fff;
}
.head .btn-download:hover{
	background-color: #f06000;
}
.head .btn-download .icon-download{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/icon_download.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}
.head h3{
	font-size: 24px;
}
.wrap .side{
	width: 450px;
	height: 260px;
}
.side img{
	display: block;
	width:450px;
	height: 260px;
}
.wrap .body{
	width: 490px;
	height: 260px;
}
.fl{
	float: left;
}
.fl .price{
	text-align: left;
}
.fr{
	float: right;
}
.fr .price{
	text-align: right;
}
.fr .price .btn-book{
	float: left;
}
.fl .price .btn-book{
	float: right;
}
.price .btn-book{
	width: 100px;
	height:30px;
	line-height: 30px;
	background-color: #0290D8;
	color: #fff;
	text-align: center; 
	margin-top: 10px;
}
.price .btn-book:hover{
	background-color: #027EBD;
}
.body .info{
	width: 490px;
	height: 168px;
}
.body .price{
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border-bottom: 1px dotted #ddd;
}
.body .price strong{
	font-size: 24px;
	color: #f60;
}
.body .share{
	padding-top:10px; 
}
.share .server{
	width: 240px;
}
.fl .share .server{
	float: left;
}
.fl .share .server a{
	float: left;
}
.fr .share .server{
	float: right;
}
.fr .share .server a{
	float: right;
}
.fl .bdsharebuttonbox{
	float: right;
}
.fr .bdsharebuttonbox{
	float: left;
}