@charset "utf-8";
/* CSS Document */
/*-------------------------*/
.left-contrl{
	position: fixed; 
	top: 0; left: 0; 
	float: left;
	width: 200px;
	height:100%; 
	padding:20px; 
	border-right:1px solid #ccc; 
	background-color: #fff;
}
.tab{ height: 30px; padding-left: 10px; border-bottom: 1px solid #ccc; margin-bottom: 20px;}
.tab li{ float: left; height: 30px; line-height: 30px; padding:0 10px; background-color: #fff; color: #999; font-size: 13px; cursor: pointer; }
.tab li:hover{ color: #666; }
.tab li.active{ position: relative; top: 0; border:1px solid #ccc; border-radius: 3px 3px 0 0; border-bottom: 0; color: #333; }

.form-filter{ margin-bottom: 20px; }
.form-filter .form-item{ height: 30px; line-height: 30px; margin-bottom: 5px; }
.form-filter .form-item label{ float: left; width: 7em; height: 30px; line-height: 30px; text-align: right; }
.form-filter .form-item input{ width: 100px; height: 18px; padding:2px;}

.right-content{
	margin-left:240px;
	padding:20px;
}

.hide{
	display:none;
}

.code{ display: block; width: 95%; padding:10px; border:1px solid #e1e1e8; border-radius:5px; margin:10px; background-color: #f7f7f9; font-size: 13px; line-height: 20px; color: #333; font-family: 'Microsoft Yahei';}

