<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>标语 slogan</title>
<link href="/static/style/reset.css" rel="stylesheet">
<link href="/css/iframe.css" rel="stylesheet">
<link href="css/slogan.css" rel="stylesheet">
</head> 
<body>
<div class="aside-left">
	<ul class="tab" id="tab">
		<li class="active" data-anchor="preview">preview</li>
		<li data-anchor="html">html</li>
		<li data-anchor="css">css</li>
		<li data-anchor="js">js</li>
	</ul>
	
</div>
<div class="container">
	<!--预览-->
	<div id="preview">
		<div class="slogan">
			<h3 class="slogan-title">同旅游批发商一起打天下</h3>
			<ul class="slogan-content clearfix">
				<li>智能办公</li>
				<li>渠道分销</li>
				<li>数据连接</li>
				<li>移动互联</li>
			</ul>
		</div>
	</div>
	<!--/预览-->

	<!--html document-->
	<div id="html" class="hide">
		<textarea cols="100" rows="25" class="doc-code">
<div class="slogan">
			<h3 class="slogan-title">同旅游批发商一起打天下</h3>
			<ul class="slogan-content clearfix">
				<li>智能办公</li>
				<li>渠道分销</li>
				<li>数据连接</li>
				<li>移动互联</li>
			</ul>
		</div>
		</textarea>	
	</div>
	<!--/html document-->

	<!--css document-->
	<div id="css" class="hide">
		<textarea cols="100" rows="25" class="doc-code">
.slogan{
	width: 100%;
	height: 240px;
	background-image: url(../img/slogan.png);
	background-position: center center; 
}
.slogan-title{
	font-family: "Microsoft YaHei";
	font-size: 36px;
	padding-top: 60px;
    line-height: 2em;
    letter-spacing: 3px;
	font-weight: normal;
	text-align: center;
	color: #fff;
}
.slogan-content{
	width: 405px;
	margin:0 auto;
	text-align: center;
}
.slogan-content li{
	list-style-type: disc;
	list-style-position: inside;
	float: left;
	color: #fff;
	font-size: 14px;
	margin: 0 15px;
}
		</textarea>		
	</div>
	<!--/css document-->

	<!--js document-->
	<div id="js" class="hide">
		<textarea cols="100" rows="25" class="doc-code">
		</textarea>	
	</div>
	<!--/js document-->
</div>


<script src="/static/lib/jquery-1.8.3.min.js"></script>
<script src="/js/iframe.js"></script>

</body>
</html>